body{
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	height: 150px;
}


div{
	display:flex;
	flex: 1;
	width: 800px;
	margin:0 auto;
}

main{
	flex:1;
/*	width: 760;
	height:465;*/
}

nav{
	width: 220;
}

footer{
	height:150;
}
